.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em 0.5em;
  box-shadow: 0 8px 16px rgba(248, 238, 238, 0.5);
  position: sticky;
  background-color: white;
  z-index: 1000;
  top: 0;
}

.search-container {
  display: flex;
  background-color: white;
  width: 30%;
  align-items: center;
  border-radius: 30px;
  gap: 10px;
  padding: 0.2em 0.8em;
  border: 1px solid #f49427;
  flex-basis: 33.33%;
}

.search-input {
  border: none;
  height: 36px;
  width: 95%;
}

.search-input:focus {
  outline: none;
}

#search-icon {
  color: grey;
}

.navlink {
  text-decoration: none;
  color: #f08000;
}

.navlink:hover {
  transform: scale(1.1);
}

.navlink.active {
  color: white;
  background-color: #f49427;
  border-radius: 5px;
  padding: 0.1em 0.5em;
}

.nav-wrapper {
  display: flex;
  flex-basis: 33.33%;
  justify-content: space-between;
  align-items: center;
  font-family: "Gilroy-Bold";
  font-size: 1.2rem;
  padding-left: 9em;
}

.login-button {
  background: none;
  font-family: "Gilroy-Bold";
  font-size: 1.2rem;
  border: none;
  color: white;
  background-color: #f49427;
  padding: 0.1em 0.5em;
  border-radius: 5px;
  cursor: pointer;
}

.profile-pic {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  display: flex;
  justify-content: center;
  background: none;
  border: none;
  padding-left: 0.5em;
  cursor: pointer;
}

.error-section {
  padding-top: 1em;
}
