.letter-circle-container {
  padding: 2.5em 0em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.letter-circle {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Gilroy-Bold";
}

.letter-circle:hover,
.letter-circle.active {
  background-color: #f49427;
  color: white;
  font-weight: bold;
}

.letter-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2em 0em;
  gap: 2em;
  place-items: center;
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}

.meals-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .meals-container {
    width: 85%;
    margin: 0 auto;
  }

  .letter-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .letter-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
