.letter-circle-container {
  padding: 5em 1em 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.letter-circle {
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  border-radius: 50%;
  background-color: #f4f4f4;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-family: "Gilroy-Bold";
}

.letter-circle:hover,
.letter-circle.active {
  background-color: #f49427;
  color: white;
  font-weight: bold;
}

.letter-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 2em 1em;
  row-gap: 3em;
  width: 80vw;
  place-items: center;
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}

.meals-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0em;
}

.category-container {
  width: 100%;
  font-family: "Gillroy-Bold";
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 4em;
  margin-top: 2.5%;
  padding: 2em;
}

.category-heading {
  background-color: #ffd580;
  color: white;
  font-size: 3.5rem;
  width: 100%;
  font-family: "Gilroy-Bold";
}
