.landing-wrapper {
  display: flex;
  justify-content: space-between;
}

.heading-section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em 0em;

  h1 {
    font-family: "Gilroy-Bold";
    font-size: 2rem;
  }
}

.img-section {
  img {
    width: 90%;
  }
}

.desc-section {
  background: #c3cfe2;
  padding: 1em;
  border-radius: 1em;
  p {
    font-family: "Gilroy-Regular";
    font-size: 1.2rem;

    color: #555;
  }

  .signup-button {
    background-color: #f49427;
    color: white;
    border: none;
    font-family: "Gilroy-Bold";
    font-size: 1.15rem;
    border-radius: 3em;
    padding: 0.2em 1.5em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
  }
}

@media (min-width: 1024px) {
  .img-section {
    img {
      width: 30vw;
    }
  }

  .desc-section {
    max-width: 45vw;
    p {
      padding: 0.5em;
    }

    .signup-button {
      margin: 0.5em;
    }
  }

  .heading-section {
    padding: 0;
  }

  .desc-section {
    padding: 0;
  }
}
