.meal-details-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: 12px;
  padding: 2em 0;
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.5);
}

.meal-image img {
  width: 92vw;
  border-radius: 12px;
}

.meal-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5em;
  padding-top: 0.5em;
}

.meal-info h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  font-family: "Gilroy-Bold";
}

.meal-category .link,
.meal-area .link {
  color: #6082b6;
  text-decoration: underline;
}

.meal-category,
.meal-area {
  font-size: 1.2rem;
  margin: 0.5rem 0;
  font-family: "Gilroy-Bold";
}

.meal-category a,
.meal-area a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  font-family: "Gilroy-Bold";
}

.meal-category a:hover,
.meal-area a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.meal-ingredients {
  text-align: left;
  width: 100%;
}

.meal-ingredients h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #555;
}

.meal-ingredients ul {
  list-style: none;
  padding: 0;
}

.meal-ingredients li {
  font-size: 1rem;
  line-height: 1.8;
  background: #e9ecef;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-family: "Gilroy-Bold";
}

.meal-instructions {
  text-align: left;
  width: 100%;
}

.meal-instructions h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #e67e22;
  text-transform: uppercase;
  border-bottom: 2px solid #e67e22;
  padding-bottom: 0.5rem;
}

.meal-instructions p {
  font-size: 1rem;
  line-height: 1.8;
  color: #444;
  padding: 1rem;
  background: #ffd580;
  border-radius: 8px;
  text-align: justify;
}

@media (min-width: 768px) {
  .meal-details-container {
    width: 85%;
    margin: 0 auto;
  }
  .meal-details {
    display: flex;
    justify-content: space-between;
  }

  .meal-ingredients {
    ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
    }
  }

  .meal-info {
    flex-basis: 35%;
  }
  .meal-image {
    img {
      width: 48vw;
    }
  }
}

@media (min-width: 1024px) {
  .meal-ingredients {
    ul {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .meal-image {
    img {
      width: 40vw;
    }
  }
}
